@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #007bff;
}

section {
  background-color: #282b31;
  padding: 20px;
  border-radius: 5px;
  border-color: #000000;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-input {
  padding: 10px 50px;
}

.task-input:focus {
  border: none;
  outline: none;
}

.add-task-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.4s ease;
  background-color: #007bff;
}

.add-task-btn:hover {
  background-color: #0056b3;
}

.task-list {
  font-family: "Open Sans", sans-serif;
  list-style: none;
  padding: 10px;
}

.task-item {
  padding: 10px 0;
  margin: 16px 0;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
}

.btn-apagar {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}
