@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root { --primary-color: rgb(0, 206, 209) }
* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
}